.discography-container{
   height: 100vh;
}

.discography{
   display: flex;
   position: relative;
   width: 100%;
   height: 100%;
}	

.discography::before{
   content: "";
   width: 100%;
   height: 100%;
   background-image: url(../img/album1.jpg);
   background-size: cover;
   filter: brightness(50%);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.left, .right{
   z-index: 3;
   font-size: 100px;
   position: absolute;
   color: cornflowerblue;
   cursor: pointer;
}
.left{
   left: 1%;
}
.right{
   right: 1%;
}

.left:hover{
   transform: scale(1.1);
   transition: all 0.3s;
}
.right:hover{
   transform: scale(1.1);
   transition: all 0.3s;
}

.album-container{
   /* width: 100%; */
   display: flex;
   margin: auto;
   margin-right: 1500px;
}

.album{
   cursor: pointer;
   min-width: 500px;
   height: 500px;
   border-radius: 5px;
   z-index: 1;
   left: 450px;
   position: relative;
   transition: all 1s;
}

.album-info{
   /* display: none; */
   z-index: 0;
   width: 510px;
   background-color: #303030;
   position: relative;
   text-align: center;
   color: white;
   border-radius: 15px;
   border-collapse: collapse;
   font-size: 1.5rem;
   font-weight: 300;
   left: 0;
   transition: all 0.5s;
   /* transform: translateX(430px); */
   /* right: 0; */
}

.album-info tr:not(:last-of-type){
   border-bottom: 1px solid whitesmoke;
}

.album1{
   background-image: url(../img/album1.jpg);
}
.album2{
   background-image: url(../img/album2.jpg);
}	
.album3{
   background-image: url(../img/album3.jpg);
}	
.album4{
   background-image: url(../img/album4.jpg);
}	