.gallery-container{
   height: 100vh;
   background-color: #3a3a3a;
}

.title{
   color: whitesmoke;
   width: 80%;
   padding: 20px;
   border-bottom: 1px solid;
   font-size: 5rem;
   font-weight: 300;
   text-align: center;
   margin: auto;
}

.img-container{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 100px;
}

.img-box{
   width: 19%;
   margin: 1px;
}

.img{
   cursor: pointer;
   width: 100%;
   border-radius: 10px;
   border: 2px solid #aaa;
}

.full{
   width: 45%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   transition: all 0.5s;
}

.img:hover{
   transform: scale(1.05);
   transition: all 0.4s;
}

.more-btn{
   width: 100%;
   position: absolute;
   bottom: 0;
}

.Ditto, .OMG, .Etc{
   cursor: pointer;
   margin: 0px 10px 0px 10px;
   color: whitesmoke;
   border: 1px solid whitesmoke;
   border-radius: 10px;
   padding: 10px 30px 10px 30px;
   background-color: #3a3a3a;
}

button:hover{
   background-color: whitesmoke;
   color: #3a3a3a;
}