.main-container{
   width: 100%;
   height: 100vh;
}

.main-bg{
   width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   animation-name: bg-ani;
   animation-duration: 8s;
   animation-fill-mode: forwards;
   font-size: 10rem;
   font-weight: 700;
   position: relative;
}

.main-text{
   color: yellowgreen;
   text-align: center;
   position: absolute;
   margin: auto; 
   left: 0;
   right: 0;
   animation-name: name-ani;
   transform: translateY(-2000px);
   animation-delay: 6.8s;
   animation-fill-mode: forwards;
   animation-duration: 2s;
}

.ani{
   position: absolute;
   transform: translateX(-2000px);
   animation-fill-mode: forwards;
   animation-duration: 2.6s;
}

.main-text1{
   animation-name: name1-ani;
   animation-delay: 0s;
}
.main-text2{
   animation-name: name2-ani;
   animation-delay: 1.6s;
   color: #98b42b;
}
.main-text3{
   animation-name: name3-ani;
   animation-delay: 3.2s;
   color: rgb(65, 191, 174);
}
.main-text4{
   animation-name: name4-ani;
   animation-delay: 4.8s;
   color: rgb(102, 174, 238);
}
.main-text5{
   animation-name: name5-ani;
   animation-delay: 6.4s;
   color: rgb(250, 182, 109);
}

@keyframes name-ani {
   50% {transform: translateY(-2000px);}
   100% {transform: translateY(100px); opacity: 0.7;}
}

@keyframes name1-ani {
   50% {transform: translateX(40%); opacity: 1;}
   100% {transform: translateX(0); opacity: 0;}
}
@keyframes name2-ani {
   50% {transform: translateX(40%); opacity: 1;}
   100% {transform: translateX(0); opacity: 0;}
}
@keyframes name3-ani {
   50% {transform: translateX(40%); opacity: 1;}
   100% {transform: translateX(0); opacity: 0;}
}
@keyframes name4-ani {
   50% {transform: translateX(40%); opacity: 1;}
   100% {transform: translateX(0); opacity: 0;}
}
@keyframes name5-ani {
   50% {transform: translateX(40%); opacity: 1;}
   100% {transform: translateX(0); opacity: 0;}
}

@keyframes bg-ani {
   0% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/0.jpg');}
   10% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/0.jpg');}
   20% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/1.jpg');}
   30% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/2.jpg');}
   40% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/3.jpg');}
   50% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/4.jpg');}
   60% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/5.jpg');}
   70% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/6.jpg');}
   80% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/7.jpg');}
   90% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/8.jpg');}
   99% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/9.jpg');}
   100% {background-image: url('https://hyunkyu-song.github.io/newjeans/home/10.jpg');}
}


@media screen and (max-width: 479px){
   .main-bg{
      background-size: contain;
   }
	.main-bg{
      font-size: 3rem;
   }
}