
.profile-container {
   overflow-y: hidden;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   -ms-user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   background: rgb(241, 31, 170);
   background: linear-gradient(126deg, rgba(241, 31, 170, 1) 0%, rgba(240, 159, 238, 1) 50%, rgba(164, 193, 227, 1) 100%);
   /* background-color: #74AFF1; */
   /* background-color: #C7CFE3; */
   /* background-color: #7bb2f3; */
   /* background-image: url(../img/뉴진스\ \(18\).jpg);
   background-size: contain; */
   /* background-position: center; */
}

.profile-card {
   width: 500px;
   height: 700px;
   margin: 50px;
   position: relative;
   text-align: center;
}

.profile-img {
   height: 100%;
   background-size: cover;
   border-radius: 15px;
}

.info {
   border-radius: 15px;
   width: 100%;
   height: 100%;
   opacity: 0;
   color: #ffcd4a;
   background-color: black;
   font-size: 7rem;
   font-weight: 700;
   writing-mode: vertical-lr;
}

.text {
   width: 100%;
   visibility: hidden;
   opacity: 0;
   position: absolute;
   color: coral;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 2rem;
   font-weight: 700;
   bottom: 0;
}

.text p {
   margin: 10px;
}

.info:hover {
   opacity: 0.7;
   cursor: pointer;
   transition: all 0.8s;
}

.text-opacity {
   visibility: visible;
   opacity: 0.7;
   transition: all 0.8s;
}

.minji {
   background-image: url(../img/profile1.jpg);
}

.hanni {
   background-image: url(../img/profile2.jpg);
}

.danielle {
   background-image: url(../img/profile3.jpg);
}

.haerin {
   background-image: url(../img/profile4.jpg);
}

.hyein {
   background-image: url(../img/profile5.jpg);
}

.bg-show {
   position: absolute;
   right: 1%;
}

.btn {
   cursor: pointer;
}

.snow{
   z-index: 1;
   width: 4px;
   height: 4px;
   background-color: white;
   position: absolute;
   border-radius: 50%;
   animation-name: snow-fall;
   animation-duration: 10s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   transform: translateY(-100px);
}


@keyframes snow-fall {
   100% {transform: translateY(150vh); opacity: 0;}
}