ul,
li {
  margin: 0;
  padding: 0;
}

.discography-container {
  background-color: rgba(228, 228, 228, 0.795);
}

.sort-btn-wrapper {
  display: flex;
  justify-content: end;
  gap: 1.2rem;
  margin-right: 2rem;
}

.sort-btn {
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
  border: solid 1px rgb(77, 77, 77);
  color: rgb(77, 77, 77);
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: transparent;
}

.sort-btn:hover {
  color: black;
  border: 1px solid black;
  transform: translateY(-1px);
}

.album-list {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
  list-style: none;
}

.album-list-item {
  cursor: pointer;
  width: 100%;
  justify-self: center;
  border-radius: 8px;
  transition: all 0.3s;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);

  p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.modal {
  width: 700px;
  height: 700px;
  background-size: cover;
  color: whitesmoke;
  border: none;
  padding: 0;
  border-radius: 10px;

  .modal-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  .album-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0;
    width: 80%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ol {
    width: 150px;
    text-align: start;
    padding-top: 2rem;
    margin: auto;
    font-size: 1.4rem;
  }
}

.close_btn {
  cursor: pointer;
  color: rgb(255, 53, 53);
  /* background-color: rgba(0, 0, 0, 0.719); */
  background: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.album-list-item:hover,
.album-list-item:focus {
  transform: scale(1.03);
}

@media screen and (max-width: 1080px) {
  .album-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .album-list {
    grid-template-columns: 1fr;
  }
}
