.gallery-container {
  background-color: whitesmoke;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  gap: 0.5rem;
}

.image-list-item {
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 350px;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.3s;
  }

  img:hover {
    filter: brightness(120%);
  }
}

.modal {
  width: 80%;
  height: 80%;
  position: fixed;
  background-color: transparent;
  z-index: 100;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
